
.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 100vh;
  background-color: #2A0E31;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/wavePurple.svg) repeat-x;
  filter:  hue-rotate(35deg) brightness(0.25) saturate(2.5);
  position: absolute;
  bottom: -10px;
  width: 6400px;
  height: 198px;
  animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
.container{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(180deg, #320f37, #490a51);
  top: 100vh;
}

.text{
  width: 70%;
  margin: 200px auto;
}

.text h1{
  font-size: 3rem;
  font-weight: 700;
  color: red;
  /* text-align: center; */
  margin-bottom: 5%;
  margin-left: 10%;
}

.text p{
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-align: center;
}



@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
.endWave{
	display:none;
}