.container {
  background-image: url("/wave.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 100%;
  height: 200%;
  position: absolute;
  top: 100vh;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.container2 {
  background-image: url("/wave.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 100%;
  height: 200%;
  position: absolute;
  top: 250vh;
}
