.container{
  top: 0;
  position: fixed;
  background-image: url("/landing_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center_title{
  margin: auto;
}
.center_title h1{
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
}
.center_title h4{
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-align: center;
}
.center_title span{
  color: red;
}
