.nav {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
}

.nav_logo {
  padding: 1.2rem;
  height: 150px;
  font-weight: bolder;
  margin-left: 10%;
  position: fixed;
}

.menu {
  position: fixed;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem;
  margin-left: 10%;
  background: linear-gradient(90.04deg, #280638 5.4%, #3f1a50 99.98%);
  border-radius: 0 0 0 150px;
  width: 60%;
  right: 0;
}

.menuItem {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  
}
.menuButton {
  height: 50px;
  width: 70px;
  /* background-color: green; */
  position: fixed;
  right: 5%;
  top: 2.5%;
}

@media screen and (max-width: 600px) {
  .title {
    margin: 0;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: none;
  }
  .menu {
    position: fixed;
    height: 100vh;
    width: 100vh;
    top: 0;
    padding: 0;
    margin: 0;
    right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: blue;
  }
}